# Environment variables
ASSISTANT_URL=https://gateway.watsonplatform.net/assistant/api
ASSISTANT_ID=

# IBM Cloud connection parameters
ASSISTANT_IAM_APIKEY=
ASSISTANT_IAM_URL=

# Cloud Pak for Data connection parameters
BEARER_TOKEN=
DISABLE_SSL_VERIFICATION=false