# Environment variables
WORKSPACE_ID=
CONVERSATION_USERNAME=
CONVERSATION_PASSWORD=
#Optional params, delete any which are not used!
#Optional params to enable Speech to text
STT_USERNAME=
STT_PASSWORD=
#Optional cloudant URL for loggin
CLOUDANT_URL=
#If cloudant url is specified a user name and password must be specified to secure the logging endpoints
LOG_USER=
LOG_PASS=
